.bgblack {
    background-color: black 
}

.bgolive {
    background-color: #32CD32
}

.fontsize20 {
    font-size: 20px
}

.imgresize {
    height: 300px;
    width: 800px; 
}

.headshotsize {
    height: 300px;
    width: 50%;
}
